<button (click)="dec()">
  Remove tab
</button>
<button (click)="inc()">
  Add tab
</button>
<br>
<tabs #tabContainer>
  <tab *ngFor="let tab of tabs">
    <tab-title>
      {{ tab.name }}
    </tab-title>
    <tab-content>
      <div *ngIf="isString(tab.content)" [innerHTML]="tab.content"></div>
      <div *ngIf="!isString(tab.content)" >
        <div *ngComponentOutlet="tab.content"></div>
      </div>
    </tab-content>
  </tab>
</tabs>
<hr />
<div *ifViewportSize="'small'" style="background: green">small</div>
<div *ifViewportSize="'medium'" style="background: yellow">medium</div>
<div *ifViewportSize="'large'" style="background: red">large</div>
